@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('http://www.fontfont.com/eula/license.html');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    /* position: fixed; */
    width: 100%;
}

.navbar {
    margin-left: 16rem;
}

.navbar a {
    text-decoration: none;
    font-weight: 500;
    color: #000;
    margin-right: 2rem;
    margin-top: 2rem;
    font-size: 14px;
    padding-bottom: 25px;
}

.navbar a:hover {
    border-bottom: 3px solid#000;
}

.search-container {
    position: relative;
    width: 200px;
    margin-left: 12rem;
}

#search-box {
    width: 100%;
    padding: 10px;
    border: 1px solid #e0e0e0;
    background: rgba(176, 189, 192, 0.438);
    outline: none;
    color: darkgray;
    font-size: 14px;
    font-weight: 400;
}

.search-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.search-button img {
    width: 20px;
    height: 20px;
}

/* -------------HOME------------- */

.home1 {
    background: url(HP_GLP_Masthead_Desktop_1920x720px_4.jpg) no-repeat;
    width: 100%;
    height: 80vh;
    background-size: 100%;
    align-items: center;
    display: flex;
}

.home2 {
    background: url(https://www.adidas.co.id/media/scandiweb/slider/t/r/training-fw24-dropset3-global-launch-hp-hero-banner-d.jpg) no-repeat;
    width: 100%;
    height: 80vh;
    background-size: 100%;
    align-items: center;
    display: flex;
}

.home-content {
    padding: 0 10%;
    margin-top: 15rem;
    overflow: hidden;
}

.home-content h1 {
    font-size: 40px;
    font-weight: 700;
    color: white;
    margin-bottom: 10px;
}

.home-content h3 {
    font-weight: 50;
    color: white;
    font-family: 'Arial', sans-serif;
    margin-bottom: 1rem;
}

button.home-btn {
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    padding: 15px 35px;
    background: white;
    cursor: pointer;
    border: 2px solid #000;
    outline: 1px solid #fff;
    outline-offset: 2px;
    transition: .3s;
}

.home-btn:hover {
    background: #000;
    color: white;
}

/* -------------HOT------------- */

.hot {
    margin-top: 2rem;
    padding: 0 5%;
    height: 100vh;
}

.hot-content {
    display: flex;
    justify-content: space-between;
}

.hot-content h1 {
    font-size: 35px;
}

.hot1 {
    width: 24%;
}

.hot1 h4 {
    font-size: 17px;
    margin-bottom: 8px;
}

.hot1 img {
    margin-bottom: 8px;
}

.hot1 p {
    font-weight: 300;
    font-size: 16px;
}

.hot1 a {
    font-size: 14px;
    color: #000;
    font-weight: 500;
}

.hot1 a:hover {
    background: #000;
    color: white;
}

/* -------------CHOICE------------- */

.choice {
    height: 130vh;
    padding: 0 5%;
}

.choice-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.choice1 {
    width: 32%;
    height: 27rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background: red;
}

.choice1 img {
    position: absolute;
    object-fit: cover;
}

.choice1 button {
    padding: 12px 50px;
    background: #000;
    color: white;
    font-size: 15px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-top: 19rem;
    outline: 2px solid #000;
    outline-offset: 2px;
    z-index: 2;
    transition: .3s;
    cursor: pointer;
}

.choice1 button:hover {
    color: grey;
}

.choice-cntn2 {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.choice2 {
    width: 23%;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

}

.choice2 img {
    position: absolute;
    object-fit: cover;
}

.choice2 a {
    z-index: 3;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    margin-top: 8rem;
    transition: .2s;
}

.choice2 a:hover {
    background: #000;
    color: white;
}


/* -------------BEST------------- */

.best {
    height: 80vh;
    padding: 0 7%;
}

.best h1 {
    justify-content: center;
    display: flex;
    font-size: 30px;
    margin-bottom: 1rem;
}

.best-container{
    display: flex;
    justify-content: center;
}

.best-content {
    margin-left: 10px;
    margin-right: 10px;
    transition: .1s;
}

.best-desc {
    padding: 0 12px;
}

.best-desc h6 {
    font-weight: 300;
    font-size: 12.5px;
    color: rgb(134, 134, 134);
}

.best-desc h5 {
    font-weight: 300;
    color: #000;
}

.best-content:hover {
    border: 1px solid black;
}

/* -------------DESCRIPTION------------- */

.description {
    height: 70vh;
    background: lightgray;
    padding: 7% 10%;
    display: flex;
    justify-content: space-between;
}

.desc-content {
    max-width: 510px;
}

.desc-content h4 {
    font-size: 14px;
    margin-bottom: 1rem;
}

.desc-content p {
    font-size: 12px;
    text-align: left;
}


/* -------------FOOTER------------- */

.footer {
    height: 100vh;
}

.footer-content1 {
    background: #000;
    padding: 3% 12%;
    justify-content: space-between;
    display: flex;
    align-items: flex-start;
}

.footer-content1 h1 {
    color: white;
    width: 470px;
    text-align: left;
    line-height: 24px;
}

.footer-content1 button {
    padding: 10px 20% 14px 1rem;
    align-items: center;
    display: flex;
    justify-content: left;
    background: #fff;
    color: #000;
    font-size: 15px;
    border: none;
    font-family: 'Poppins', sans-serif;
    outline: 1px solid #fff;
    outline-offset: 2px;
    font-weight: 600;
    z-index: 2;
    transition: .3s;
    cursor: pointer;
    transition: .3s;
}

.footer-content1 button:hover {
    color: grey;
}

.footer-content2 {
    display: flex;
    justify-content: space-between;
    padding: 3rem 17%;
}

.footer-content2 ul {
    list-style: none;
}

.footer-content2 ul h3 {
    margin-bottom: 13px;
}

.footer-content2 ul li a {
    text-decoration: none;
    color: #000;
    font-size: 13px;
}
.footer-content2 ul li a:hover {
    text-decoration: underline;
}

.footer-content3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15%;
    background: rgb(71, 71, 71);
}

.footbar {
    display: flex;
}

.footer-content3 a {
    text-decoration: none;
    margin-left: 10px;
    color: #cccccc;
    font-size: 12px;
}

.footer-content3 p {
    font-size: 11px;
    margin-left: 10px;
    color: #cccccc;
}